<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chart.js" version="2.7.3" targetFramework="net461" />
  <package id="chart.js.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="vue" version="2.5.17" targetFramework="net461" />
  <package id="vue.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net461" />
</packages>